<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConstraintsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDF82C281D1EB1E10051F1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF82C3C1D1EB1E20051F1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDF82C471D1EB1E20051F1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
